<!DOCTYPE html>
<html>

<head>
    <title>Search - Morgenrøde </title>
</head>

<body>
    <aside role="search">
        <div class="search-wrapper">
            <form class="search" method="get">
                <input type="search" placeholder="search..." />
                <div class="search-documentation" style="display: flex; justify-content: space-between;">
                    <span>
                        <a href="https://lunrjs.com/guides/searching.html">Read more on how to search</a> on the <a
                            href="https://lunrjs.com">lunrjs</a> page
                    </span>
                </div>
            </form>
        </div>
        <ul class="search-results">
            <li>
            </li>
        </ul>
    </aside>
    <script src="https://unpkg.com/axios/dist/axios.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/lunr/lunr.js" charset="utf-8"></script>
    {{ $script := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" charset="utf-8"></script>
</body>

</html>