{{ $.Scratch.Add "index" slice }}

{{ range $index, $page := $.Site.RegularPages }}
    {{ with .Param "categories" }}
        {{ $.Scratch.Set "pageData" "" }}
        {{ $.Scratch.Set "pageContent" "" }}
        {{ $.Scratch.Set "pageURL" "" }}
        {{ $.Scratch.Set "pageDate" "" }}


        {{ if gt (len $page.Content) 0 }}
            {{ $.Scratch.Set "pageContent" $page.Plain }}
            {{ $.Scratch.Set "pageURL" $page.Permalink }}
            {{ if (isset $page.Params "categories") }}
            {{ $.Scratch.Set "categories" (delimit $page.Params.categories " ; ") }}
            {{ $.Scratch.Set "pageDate" ($page.Date.Format (default "2006-01-02"))}}
        {{ end }}  

            {{ $.Scratch.Set "pageData" (dict "id" $index "title" $page.Title "url" ($.Scratch.Get "pageURL") "content" ($.Scratch.Get "pageContent") "categories" ($.Scratch.Get "categories") "date" ($.Scratch.Get "pageDate")) }}

            {{ $.Scratch.Add "index" ($.Scratch.Get "pageData") }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $.Scratch.Get "index" | jsonify }}